.health-store-pharmacist-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.health-store-pharmacist-container1 {
  width: 100%;
  height: 701px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.health-store-pharmacist-text {
  top: 125px;
  color: rgb(255, 255, 255);
  right: 87px;
  width: 467px;
  height: 74px;
  position: absolute;
  font-size: 54px;
  font-family: "Poppins";
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.health-store-pharmacist-layer3 {
  right: 449px;
  width: 139px;
  bottom: 44px;
  height: 118px;
  z-index: 10000;
  position: absolute;
}
.health-store-pharmacist-messagesent-component-layout-max {
  right: 595px;
  width: 200px;
  bottom: 94px;
  height: var(--dl-size-size-small);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 75px 75px 0;
  flex-direction: column;
  background-color: rgba(160, 233, 255, 1);
}
.health-store-pharmacist-timestampcontainer {
  gap: 10px;
  top: 12px;
  left: 16px;
  display: flex;
  padding: 5px 0 0;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
}
.health-store-pharmacist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.health-store-pharmacist-container2 {
  width: 100%;
  height: 1003px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #cdf5fd;
}
.health-store-pharmacist-group24 {
  top: -251px;
  right: 160px;
  width: 259px;
  height: 97px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 20px;
  background-color: #ffffff;
}
.health-store-pharmacist-text04 {
  top: 5px;
  left: 17px;
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-text05 {
  color: #0188b1;
}
.health-store-pharmacist-text06 {
  color: #040404;
}
.health-store-pharmacist-text07 {
  color: #0188b1;
}
.health-store-pharmacist-text08 {
  color: #0188b1;
}
.health-store-pharmacist-image6 {
  top: -253px;
  right: 177px;
  width: 83px;
  height: 97px;
  position: absolute;
}
.health-store-pharmacist-container3 {
  width: 100%;
  height: 959px;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #bfea7c;
}
.health-store-pharmacist-tk {
  gap: 2px;
  width: 53px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.health-store-pharmacist-pagecontrol {
  gap: 11.830625534057617px;
  right: -510px;
  bottom: -202px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.health-store-pharmacist-dot {
  display: flex;
  align-items: center;
  justify-content: center;
}
.health-store-pharmacist-tickcarousel {
  width: 12px;
  height: 12px;
}
.health-store-pharmacist-dot1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.health-store-pharmacist-tickcarousel1 {
  width: 9px;
  height: 9px;
}
.health-store-pharmacist-dot2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.health-store-pharmacist-tickcarousel2 {
  width: 9px;
  height: 9px;
}
.health-store-pharmacist-frame122 {
  gap: 100px;
  top: 600px;
  right: 290px;
  width: 924px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.health-store-pharmacist-productcart {
  width: 156px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-neutral-white);
}
.health-store-pharmacist-change-image {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_opqtsy9xpm-dqxb-200h-200h.png");
}
.health-store-pharmacist-frame48 {
  gap: 4px;
  top: 120px;
  left: 0px;
  width: 148px;
  height: 96px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.health-store-pharmacist-frame121 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text09 {
  color: var(--dl-color-neutral-gray600);
  width: 132px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.health-store-pharmacist-frame61 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-text11 {
  color: var(--dl-color-neutral-dark);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.health-store-pharmacist-frame46 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.health-store-pharmacist-badges {
  gap: 10px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-color: rgba(240, 68, 56, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-secondary-secondary50);
}
.health-store-pharmacist-text13 {
  color: var(--dl-color-semantic-red400);
  height: auto;
  text-align: center;
  line-height: 12px;
}
.health-store-pharmacist-text15 {
  color: var(--dl-color-neutral-gray400);
  height: auto;
  text-align: center;
  line-height: 12px;
}
.health-store-pharmacist-frame47 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-productcart1 {
  width: 156px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-neutral-white);
}
.health-store-pharmacist-change-image1 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_wv1b8dlulc-lprs-200h-200h.png");
}
.health-store-pharmacist-frame481 {
  gap: 4px;
  top: 120px;
  left: 0px;
  width: 148px;
  height: 96px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.health-store-pharmacist-frame1211 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text17 {
  color: var(--dl-color-neutral-gray600);
  width: 132px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.health-store-pharmacist-frame611 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-text19 {
  color: var(--dl-color-neutral-dark);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.health-store-pharmacist-productcart2 {
  width: 156px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-neutral-white);
}
.health-store-pharmacist-change-image2 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_bz_6-tgjjc-icia-200h-200h.png");
}
.health-store-pharmacist-frame482 {
  gap: 4px;
  top: 120px;
  left: 0px;
  width: 148px;
  height: 96px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.health-store-pharmacist-frame1212 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text21 {
  color: var(--dl-color-neutral-gray600);
  width: 132px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.health-store-pharmacist-frame612 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-text23 {
  color: var(--dl-color-neutral-dark);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.health-store-pharmacist-productcart3 {
  width: 156px;
  height: 216px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-neutral-white);
}
.health-store-pharmacist-change-image3 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_y2eio3sx74-buym-200h-200h.png");
}
.health-store-pharmacist-frame483 {
  gap: 4px;
  top: 120px;
  left: 0px;
  width: 148px;
  height: 96px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.health-store-pharmacist-frame1213 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text25 {
  color: var(--dl-color-neutral-gray600);
  width: 132px;
  height: auto;
  text-align: left;
  line-height: 16px;
}
.health-store-pharmacist-frame613 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-text27 {
  color: var(--dl-color-neutral-dark);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.health-store-pharmacist-frame461 {
  gap: 4px;
  width: 132px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.health-store-pharmacist-badges1 {
  gap: 10px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-color: rgba(240, 68, 56, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-secondary-secondary50);
}
.health-store-pharmacist-text29 {
  color: var(--dl-color-semantic-red400);
  height: auto;
  text-align: center;
  line-height: 12px;
}
.health-store-pharmacist-text31 {
  color: var(--dl-color-neutral-gray400);
  height: auto;
  text-align: center;
  line-height: 12px;
}
.health-store-pharmacist-frame471 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-card {
  gap: 24px;
  top: 101px;
  right: 175px;
  width: 1140px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.health-store-pharmacist-card1 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-image1 {
  width: 364px;
  height: 354px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-gray3);
}
.health-store-pharmacist-replace-this {
  width: 448px;
  height: 352px;
}
.health-store-pharmacist-text33 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-price {
  gap: 18px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-text35 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-text37 {
  color: rgba(1, 136, 177, 1);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-card2 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-image2 {
  width: 364px;
  height: 354px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-gray3);
}
.health-store-pharmacist-replace-this1 {
  width: 485px;
  height: 354px;
}
.health-store-pharmacist-text39 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-price1 {
  gap: 18px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-text41 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-text43 {
  color: rgba(1, 136, 177, 1);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-card3 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-image3 {
  width: 364px;
  height: 354px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-gray3);
}
.health-store-pharmacist-replace-this2 {
  width: 453px;
  height: 352px;
}
.health-store-pharmacist-text45 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-price2 {
  gap: 18px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-text47 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-text49 {
  color: rgba(1, 136, 177, 1);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-icon-box {
  gap: 71px;
  right: 175px;
  width: 1105px;
  bottom: -10px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.health-store-pharmacist-icon-box1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-truck {
  width: 44px;
  height: 44px;
}
.health-store-pharmacist-title {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text51 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-text53 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-icon-box2 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-creditcard {
  width: 44px;
  height: 44px;
}
.health-store-pharmacist-title1 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text55 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-text57 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-icon-box3 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-gift {
  width: 44px;
  height: 44px;
}
.health-store-pharmacist-title2 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text59 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-text61 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-icon-box4 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.health-store-pharmacist-users {
  width: 44px;
  height: 44px;
}
.health-store-pharmacist-title3 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-store-pharmacist-text63 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-text65 {
  color: var(--dl-color-default-text);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.health-store-pharmacist-frame5 {
  gap: 10px;
  width: 246px;
  height: auto;
  display: flex;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.health-store-pharmacist-text67 {
  color: rgba(0, 69, 90, 1);
  height: auto;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.health-store-pharmacist-icon {
  top: 681px;
  right: 168px;
  width: 76px;
  height: 76px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.health-store-pharmacist-container4 {
  width: 100%;
  height: 222px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #316800;
}
.health-store-pharmacist-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.health-store-pharmacist-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.health-store-pharmacist-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.health-store-pharmacist-text69 {
  color: #ffffff;
  font-size: 17px;
  margin-left: 0px;
}
.health-store-pharmacist-text70 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.health-store-pharmacist-text71 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.health-store-pharmacist-text72 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.health-store-pharmacist-text73 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.health-store-pharmacist-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.health-store-pharmacist-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.health-store-pharmacist-text74 {
  color: #ffffff;
}
.health-store-pharmacist-text75 {
  top: -63px;
  color: #efefef;
  right: 7px;
  position: absolute;
  font-size: 18px;
}
.health-store-pharmacist-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.health-store-pharmacist-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
}
.health-store-pharmacist-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
}
.health-store-pharmacist-icon5 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 767px) {
  .health-store-pharmacist-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .health-store-pharmacist-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .health-store-pharmacist-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .health-store-pharmacist-text74 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .health-store-pharmacist-text75 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .health-store-pharmacist-footer {
    padding: var(--dl-space-space-unit);
  }
  .health-store-pharmacist-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .health-store-pharmacist-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .health-store-pharmacist-text74 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .health-store-pharmacist-text75 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
