.prescription-order-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.prescription-order-container1 {
  width: 100%;
  height: 701px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.prescription-order-layer3 {
  right: 650px;
  width: 139px;
  bottom: 3px;
  height: 118px;
  z-index: 10000;
  position: absolute;
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 2;
  animation-timing-function: ease;
}
.prescription-order-messagesent-component-layout-max {
  right: 798px;
  width: 200px;
  bottom: 41px;
  height: var(--dl-size-size-small);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 75px 75px 0;
  flex-direction: column;
  background-color: rgba(160, 233, 255, 1);
}
.prescription-order-timestampcontainer {
  gap: 10px;
  top: 12px;
  left: 16px;
  display: flex;
  padding: 5px 0 0;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
}
.prescription-order-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prescription-order-text01 {
  top: 123px;
  color: #00455a;
  right: 1px;
  width: 676px;
  position: absolute;
  font-size: 50px;
  font-family: "Poppins";
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.prescription-order-rectangle3 {
  top: 260px;
  right: 68px;
  width: 540px;
  height: 431px;
  position: absolute;
  border-radius: 35px;
}
.prescription-order-frame2 {
  top: 360px;
  right: 105px;
  width: 468px;
  height: 141px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7799999713897705);
}
.prescription-order-vector {
  top: 23px;
  left: 206px;
  width: 37px;
  height: 30px;
  position: absolute;
}
.prescription-order-text06 {
  color: rgba(0, 69, 90, 0.800000011920929);
  right: 101px;
  bottom: 44px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.prescription-order-container2 {
  width: 100%;
  height: 183px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #cdf5fd;
}
.prescription-order-text08 {
  top: -419px;
  color: rgb(0, 141, 182);
  right: -154px;
  width: 707px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.prescription-order-container3 {
  width: 100%;
  height: 201px;
  display: flex;
  align-items: flex-start;
}
.prescription-order-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0188b1;
}
.prescription-order-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.prescription-order-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.prescription-order-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.prescription-order-text09 {
  color: #ffffff;
  font-size: 17px;
  margin-left: 0px;
}
.prescription-order-text10 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.prescription-order-text11 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.prescription-order-text12 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.prescription-order-text13 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.prescription-order-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.prescription-order-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.prescription-order-text14 {
  color: #ffffff;
}
.prescription-order-text15 {
  top: -63px;
  color: #efefef;
  right: 7px;
  position: absolute;
  font-size: 18px;
}
.prescription-order-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.prescription-order-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
}
.prescription-order-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
}
.prescription-order-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 767px) {
  .prescription-order-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prescription-order-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .prescription-order-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .prescription-order-text14 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .prescription-order-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .prescription-order-footer {
    padding: var(--dl-space-space-unit);
  }
  .prescription-order-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .prescription-order-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .prescription-order-text14 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .prescription-order-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
